/* Try to actually code something by yourself here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

header{
    background-color: white;
    color:grey;
    padding: 1rem;
    text-align: center;
}

header h1 {
    font-size: 2rem;
    color: #3b82f6;
}

nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: block;
    margin: 0.5rem;
}

nav a{
    color:#3b82f6;
    text-decoration: none;
}

main{
    padding: 1rem;
    max-width: 600px;
    margin:auto;
}

article {
    padding: 1rem;
    background-color: white; 
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    line-height: 2rem;
}

article p{
    margin-top: 20px;
    margin-bottom:20px;
}

footer{
    padding: 1rem;
    margin: 0;
}

/* Responsive Styles (for larger screens) */
@media (min-width: 768px) and (max-width: 1024px) {
    header h1 {
        font-size: 2.5rem; 
    }

    nav ul li {
        display: inline; 
        margin: 0 1rem; 
    }

    main {
        padding: 2rem;
        max-width: 800px; 
    }

    article {
        margin-bottom: 2rem;
    }

    footer{
        padding: 1rem;
        margin: 0;
    }
}

@media (min-width: 1025px){
    article{
        letter-spacing: normal;
    }

    footer{
        padding: 1rem;
        margin: 0;
    }

    
}